
<p> <%= "#{session[:id]}" %> </p>

<div class="container">
  <div class="main">
  <p><%= @errors %></p>

    <H1>Log in to have your fortune read.</H1>

    <form action="/sessions" method="post" >
    <label for="email">Email:</label>
    <input type="text" name="email"/>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <br>

    <input type="submit" name="login"/>

    </form>
    <h2><a href="users/new">Join</a></h2>

  </div>
</div>





